:root{
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

li{
    list-style: none;
}

/* this hold the entire admin webpage */
.mainContainer{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 8fr;
}

/* for the sidebar */
.mainContainer > .sidebar{
    border-right: 3px dashed black;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 20px;
    gap: 50px;
}

.sideTop{
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    & > img{
        border-radius: 50px;
        height: 50px;
        width: 50px;
    }
}

.sideMiddle{
    & > ul{
        outline: 2px dashed;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > li{
            padding-left: 10px;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 10px;
            & > img{
                height: 25px;
                width: 25px;
            }
        }
    }
}

.sideBottom{
    & > ul{
        display: flex;
        flex-direction: column;
        padding: 10px;
        outline: 2px dashed;
        border-radius: 10px;
        gap: 10px;
        & > li{
            padding-left: 10px;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 10px;
            & > img{
                height: 25px;
                width: 25px;
            }
        }
    }
}

/* for the mainbar */
.mainContainer > .mainbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px,150px) 7fr;
}

/* for mainbar top half */
.mainbar > .mainbar_top{
    display:grid;
    grid-template-rows: 1fr 2fr;
}

.searchbar{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* this is first div */
    & > div:first-child{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 50px;
    }

    /* this is second div */
    & > div:last-child{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:200px;
        margin-right: 50px;
    }

    & > div > img{
        height: 25px;
        width: 25px;
    }

    & > div > img:nth-child(2){
        height: 35px;
        outline: 1px solid;
        width: 35px;
        border-radius: 50px;

    }
    & > div > input{
        background-color: lightgray;
        font-size: 16px;
        width: 600px;
        height: 30px;
        border: none;
        outline: 1px solid;
        border-radius:20px ;
        padding-left: 10px;
        &:focus{
            border: none;
            outline: 1px solid;
        }
    }
    & > div > p{

    }
}

.username{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px dashed;

    & > div:first-child{
        gap: 20px;
        display: flex;
        margin-left: 50px;
        align-items: center;

        & > img{
            width: 70px;
            height: 70px;
            outline: 1px solid;
            border-radius: 50px;
        }

        & > p{
            font-size: 20px;
            font-weight: bold;
            & > span{
                font-size: 15px;
            }
        }
    }

    & > div:last-child{
        display: flex;
        width: 280px;
        margin-right: 50px;
        justify-content: space-between;
        & > button{
            background-color: red;
            width: 80px;
            height: 50px;
            border-radius: 50px;
            font-size: 15px;
            color: whitesmoke;
            background-color: black;
            border:none;

            &:hover{
                background-color: #333333;
            }

            &:active{
                background-color: #1a1a1a;
            }
        }
    }
}

/* for the mainbar bottom half */
.mainbar > .mainbar_bottom{
    display: grid;
    grid-template-columns:6fr 2fr;
}

/* this is where all the card are present */
.mainbar_bottom > .leftBar{
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    justify-content: center;
    padding-top: 80px;
    gap: 20px;
}

/* this is for the your project section above the 1st item */
.items > h3{
    top: -40px;
    position: absolute;
}


.items{
    position: relative;
    width: 350px;
    height: 200px;
    outline: 2px dashed;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    & > div > h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    & > div > p{
        font-size: 15px;
        line-height: 17px;
    }

    & > div > footer{
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        margin-top: 20px;
        & > img{
            height: 26px;
            width: 27px;    
        }
    }
}

/* this is where all the announcement and trending card are present */
.mainbar_bottom > .rightBar{
    border-left: 3px dashed;
    display: grid;
    grid-template: repeat(2,minmax(min-content,350px)) / minmax(min-content,250px);
    padding: 30px;
    padding-top: 80px;
    gap: 100px;
}

.rightBar > div{
    border-radius: 10px;
    outline: 2px dashed;
    position: relative;
    width: 250px;
    & > h3{
        position: absolute;
        top: -40px;
    }
}


/* this is for the announcement */
.announcement{
    line-height: 17px;
    padding: 20px;
    display: grid;
    grid-template-rows: 33.3%;
    & > div > h6{
        font-size: clamp(12px,calc(1rem - 1vh),1rem);
    }
    & > div > p{
        font-size: clamp(12px,calc(1rem - 1vh),1rem);
    }
}

/* this is for the trending page */
.trending{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    & > div {
        display: flex;
        position: relative;

        & > a{
        text-decoration: none;
        &:visited{
            color: black;
        }
        & > img{
            width: 40px;
            height: 40px;
            }
        & > h6{
            position: absolute;
            top: 5px;
            left: 50px;
            font-size: clamp(12px,calc(1.3rem - 1vh),1px);
            }
        & > p{
            color: gray;
            font-weight: bold;
            position: absolute;
            top: 22px;
            left: 52px;
            display: inline-block;
            font-size: clamp(12px,calc(1.2rem - 1vh),1px);
            }
        }
    }
}

hr{
    height: 1px;
    color: gray;
}

