:root{
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

li{
    list-style: none;
}

/* this hold the entire admin webpage */
.mainContainer{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 8fr;
}

/* for the sidebar */
.mainContainer > .sidebar{
    background-color: darkcyan;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 20px;
    gap: 50px;
}

.sidebar > div{
    outline: 3px dashed;
    background-color: palevioletred;
}

/* for the mainbar */
.mainContainer > .mainbar{
    display: grid;
    background-color: darkblue;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px,150px) 7fr;
}

/* for mainbar top half */
.mainbar > .mainbar_top{
    background-color: lightblue;
    display:grid;
    grid-template-rows: 1fr 2fr;
}

.searchbar{
    background-color: lightpink;
}

.username{
    background-color: lightsalmon;
}

/* for the mainbar bottom half */
.mainbar > .mainbar_bottom{
    background-color: lightgreen;
    display: grid;
    grid-template-columns:6fr 2fr;
}

/* this is where all the card are present */
.mainbar_bottom > .leftBar{
    background-color:darkred;
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    justify-content: center;
    padding-top: 80px;
    gap: 20px;
}

/* this is for the your project section above the 1st item */
.items > h3{
    top: -40px;
    position: absolute;
}


.items{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: rebeccapurple;
    outline: 3px dashed;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    & > div > h1{
        font-size: 20px;
    }

    & > div > p{
        font-size: 15px;
        line-height: 17px;
    }

    & > div > footer{
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        margin-top: 20px;
        & > img{
            height: 20px;
            width: 21px;    
        }
    }
}

/* this is where all the announcement and trending card are present */
.mainbar_bottom > .rightBar{
    background-color:darkorange;
    display: grid;
    grid-template: repeat(2,minmax(min-content,350px)) / minmax(min-content,250px);
    padding: 30px;
    padding-top: 80px;
    gap: 100px;
}

.rightBar > div{
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    outline: 3px dashed;
    position: relative;
    width: 250px;
    & > h3{
        position: absolute;
        top: -40px;
    }
}


/* this is for the announcement */
.announcement{
    line-height: 17px;
    padding: 20px;
    display: grid;
    grid-template-rows: 33.3%;
    & > div > h6{
        font-size: clamp(12px,calc(1rem - 1vh),1rem);
    }
    & > div > p{
        font-size: clamp(12px,calc(1rem - 1vh),1rem);
    }
}

/* this is for the trending page */
.trending{
    padding: 20px;
    & > div {
        display: flex;
        position: relative;

        & > a{
        text-decoration: none;
        &:visited{
            color: black;
        }
        & > img{
            width: 40px;
            height: 40px;
            }
        & > h6{
            position: absolute;
            top: 5px;
            left: 50px;
            font-size: clamp(12px,calc(1.3rem - 1vh),1px);
            }
        & > p{
            color: gray;
            font-weight: bold;
            position: absolute;
            top: 22px;
            left: 52px;
            display: inline-block;
            font-size: clamp(12px,calc(1.2rem - 1vh),1px);
            }
        }
    }
}

hr{
    height: 1px;
    color: gray;
}

